In [13]:
# Basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [ ]:
# Make sure that we use SageMaker 1.x
!pip install sagemaker==1.72.0

# Sagemaker
import sagemaker

In [8]:
X_train = pd.read_csv('../data/output/xtrain.csv', header = None)
X_test =  pd.read_csv('../data/output/xtest.csv', header = None)

y_train = pd.read_csv('../data/output/ytrain.csv')
y_test =  pd.read_csv('../data/output/ytest.csv')

In [9]:
X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
0,1308,1,520,498,657,498,1330,498,735,498,...,0,0,0,0,0,0,0,0,0,0
1,1090,103,8,1412,753,1412,721,1279,177,630,...,0,0,0,0,0,0,0,0,0,0
2,2,183,725,43,86,559,2680,91,132,102,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,17,156,1,1,1,17,156,...,0,0,0,0,0,0,0,0,0,0
4,137,224,137,224,35,40,35,40,645,227,...,0,0,0,0,0,0,0,0,0,0

## 2. Upload the data to S3

In [17]:
data_dir = '../data/output/'

In [14]:
aws_data = pd.concat([y_train, X_train], axis=1)

aws_data.to_csv(os.path.join(data_dir, 'train.csv'), header=False, index=False)

In [16]:
aws_data.head()

,1,0,1,2,3,4,5,6,7,8,...,490,491,492,493,494,495,496,497,498,499
0,1.0,478,141,110,364,1,1874,69,890,136,...,0,0,0,0,0,0,0,0,0,0
1,0.0,49,1353,35,1900,7,1184,714,56,283,...,0,0,0,0,0,0,0,0,0,0
2,0.0,280,782,403,7,491,173,475,4,86,...,0,0,0,0,0,0,0,0,0,0
3,1.0,2404,264,629,14,221,1003,815,245,147,...,0,0,0,0,0,0,0,0,0,0
4,1.0,173,133,365,87,2156,3,37,296,160,...,0,0,0,0,0,0,0,0,0,0

### 2.2. Uploading training data

In [ ]:
sagemaker_session = sagemaker.Session()

bucket = sagemaker_session.default_bucket()
prefix = 'sagemaker/positiveness_lyrics'

role = sagemaker.get_execution_role()